body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#080420; 

  @media screen and (min-width: 720px) and (max-width:1080px) {
    grid-template-columns: 35% 65%
  }
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
     
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

::before,::after{
  margin: 0;
  padding:0;
}


